@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo2', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #ffff;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #ffff;
}

h4 {
    font-size: 20px;
    color: #ffff;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    margin-top: 300px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #212121;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.7);;
    z-index: 999;
    position: sticky;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color: #323232;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #212121;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.7);;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* Inicio NavBar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
}

#navbar li a:hover {
    color: #14FFEC;
}

/* Inicio Cards */

#card {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
    margin-top: 40px;
}

#card .card-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 1);
}

#card .card-box {
    min-width: 330px;
    height: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imagenes/portadas/portada_palo_alto.jpg");
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    align-items: center;
    transition: all 0.25s;
}

#card .card-box2 {
    background-image: url("imagenes/portadas/portada_wolf.jpg");
}

#card .card-box3 {
    background-image: url("imagenes/portadas/portada_makeba.jpg");
}

#card .card-box4 {
    background-image: url("imagenes/portadas/portada_hush.jpg");
}

#card .card-box5 {
    background-image: url("imagenes/portadas/portada_base.jpg");
}

#card .card-box6 {
    background-image: url("imagenes/portadas/portada_templo.jpg");
}

.PaloAlto {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.Wolf {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.Makeba {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.Hush {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.Base1 {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.ElTemplo {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Inicio Page */


/* Eventos Page */


/* Sobre bosotros Page */